{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<div class="user-info">
    <h5 class="user">{{ request.user.email }}</h5>
    <button class="btn btn-secondary"><a href="{% url 'logout' %}">Log Out <i
                class="fas fa-arrow-circle-right"></i></a></button>
</div>

<div id="sidenav">
    <ul id="sidenav-list" data-tag="menuList">
        <li id="inbox" onclick="selectListItem(this)" class="clicked">
            <i class="fas fa-inbox"></i><span id="inbox-label">Inbox</span>
        </li>
        <li id="compose" onclick="selectListItem(this)">
            <i class="fas fa-pencil-alt"></i><span>Compose</span>
        </li>
        <li id="sent" onclick="selectListItem(this)">
            <i class="far fa-paper-plane"></i><span>Sent</span>
        </li>
        <li id="archived" onclick="selectListItem(this)">
            <i class="fas fa-archive"></i><span>Archived</span>
        </li>
    </ul>
</div>

<div class="main-div">

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                Subject: <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <button id="compose-button" type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>

</div>

{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}